* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.correct {
  background-color: #373;
}

.incorrect {
background-color: #733;
}  

body {
  background-color: #010101;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #111;
  flex: 1;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
}

h1, h2, h3, label, p {
  color: #efe;
}

form {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  padding-top: 4px;
  padding-bottom: 4px;
}

a, form > button {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none; 
  background-color: #79797a;
  color: white; 
  border-radius: 5px; 
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 60%;
}

a:hover, form > button:hover {
  background-color: #56277c;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header li {
  height: 100%;
}

form .form-group {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 500px;
}